*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    z-index: 2;
    backdrop-filter: blur(4px);
    position: absolute;
    border: 1px solid burlywood;
}
.navbar,
.servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right: 25px;
}
.fa-solid-cafe-toggle{
    height: 30px;
    border-radius: 10px;
    margin-right: 25px;
    cursor: pointer;  
}
#cafe-toggle,
#menu-toggle,
.menu-label{
    display: none;
}
.servicios li a{
    color: #D8CFAE;
    font-size: 24px;
}
main{
    background-color: #151314;

}
#hero{
    background-image: url(./assets/img/cafeTortoni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position-y: 30%;
}
.heroInfo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #1b171885;
}
.heroInfo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    font-size: 44px;
    color: #D8CFAE;
    font-weight: 700;
    margin-left: 2.5rem;
}
.heroCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 40%;
    margin: auto;
    border-radius: 10px;
    backdrop-filter: blur(3px); 
    border: 1px solid burlywood;
}
.heroCardTop,
.heroCardBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #D8CFAE;
}
.heroCardTop h3{
    font-size: 22px;
}
.heroCardTop span{
    font-size: 50px;
    color: #D8CFAE;
}
.heroCardBottom p{
    font-size: 22px;
}
.found{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.foundInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 25px;
    gap: 20px;
    color: #938889;
}
.foundInfo h1{
    font-size: 4rem;
}
.foundInfo h3{
    font-size: 2rem;
}
.foundInfo p{
    font-size: 16px;
}
.foundMore{
    width: 50%;
    height: 100%;
    display: flex;
    background-image: url(./assets/img/Cafeteria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 35px;
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    overflow: hidden;
    color: #C87533;
}
.item-product{
    font-size: 24px;
    text-align: center;
}
.placePhotos{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
}
.placePhotos img{
    width: 12.2%;
    height: 185px;
    opacity: 0.8;
    transition: 0.9s;
    object-fit: cover;
}
.placePhotos img:hover{
    transform: scale(1.1);
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 40px;
}
.contact-card{
    display: flex;
    justify-content: center;
}
.contact-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 23px;
    gap: 20px;
    color: #96AB9C;
}
form{
    width: 35%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
}
input{
    background-color: transparent;
    border: 1px solid #C87533;
    border-radius: 10px;
    padding: 10px;
    color: #938889;
}
textarea{
    background-color: transparent;
    border: 1px solid #C87533;
    border-radius: 10px;
}
.btn-send{
    background-color: transparent;
    border-radius: 10px;
    padding: 8px;
    color: #938889;
    border: 1px solid #C87533;

}
form button{
    width: 30%;
    align-items: flex-end;
    color: blue;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #151314;
    color: #938889;
}
.register-redirect{
    color: #96AB9C;
}
.register-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #151314;
}
.image-coffe{
    width: 30%;
}
.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 30px;
}
.register-form:focus{
    color: #938889;
}
.btn-register{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #938889;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #151314;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.login{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #151314;
}
.form-login{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.init-sesion{
    width: 100%;
    padding: 10px;
    background-color: #938889;
    border-radius: 10px;
}
.init-sesion a{
    color: #151314;
}
.coffePlace{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}
.info-card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.bg{
    width: 550px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}





